@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-MediumItalic.woff2") format("woff2"), url("../fonts/Montserrat-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Poppins;
  font-display: swap;
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("../fonts/Unbounded-Bold.woff2") format("woff2"), url("../fonts/Unbounded-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("../fonts/Unbounded-Medium.woff2") format("woff2"), url("../fonts/Unbounded-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Unbounded;
  font-display: swap;
  src: url("../fonts/Unbounded-Regular.woff2") format("woff2"), url("../fonts/Unbounded-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Unbounded", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Unbounded", sans-serif;
  font-size: inherit;
  line-height: 1;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}

body {
  background-color: #121921;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 80rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.125rem;
  color: #161e28;
  padding: 1.5625rem 3.125rem;
  border-radius: 0.9375rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  background-color: #8bffdc;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=date] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  border-radius: 0.9375rem !important;
  width: 100%;
  display: block;
  padding: 0rem 2rem 0 3.875rem;
  border: 0.0625rem solid #fff;
  font-size: 1.125rem;
  height: 3.9375rem;
  color: #fff;
  background: rgba(255, 255, 255, 0.05);
  font-family: "Poppins", sans-serif;
}

.input::-webkit-input-placeholder {
  color: inherit;
  font-size: inherit;
  opacity: 1;
}

.input::-moz-placeholder {
  color: inherit;
  font-size: inherit;
  opacity: 1;
}

.input:-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
  opacity: 1;
}

.input::-ms-input-placeholder {
  color: inherit;
  font-size: inherit;
  opacity: 1;
}

.input::placeholder {
  color: inherit;
  font-size: inherit;
  opacity: 1;
}

.input:focus {
  outline: none;
  border-color: #8bffdc;
}

textarea.input {
  resize: none;
  padding: 0rem 0rem;
}

.options {
  display: -ms-grid;
  display: grid;
  gap: 1.25rem;
}

.options_3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.options_2 {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.options_4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.options_5 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}

.options__label {
  cursor: pointer;
  gap: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.9375rem 1.5625rem 0.625rem;
  border: 0.0625rem solid rgba(139, 255, 220, 0.5);
  border-radius: 1.25rem;
  min-height: 10.25rem;
  height: 100%;
  -webkit-transition: border-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s;
}

.options__label_text {
  min-height: auto;
  padding: 1.5625rem;
}

.options__label_bottom {
  min-height: auto;
  padding: 0;
  padding: 1.3125rem 1.5625rem;
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}

.options__label_2 {
  -ms-grid-column-span: 2;
  grid-column: 2 span;
}

.options__label_5 {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}

.options__label_4 {
  -ms-grid-column-span: 3;
  grid-column: 3 span;
}

.options__label.active {
  border-color: #8bffdc;
}

.options__label_fuel {
  padding: 0.9375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.options__text {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.21;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.options__text:not(:last-child) {
  margin-bottom: 0.625rem;
}

.options__text::before {
  content: "";
  margin-right: 0.5625rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.4375rem;
          flex: 0 0 1.4375rem;
  width: 1.4375rem;
  height: 1.4375rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #8bffdc;
}

.active .options__text::before {
  background: #8bffdc url("../img/icons/check.svg") 50% no-repeat;
}

.options__image {
  max-width: 15.625rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.options__image_fuel {
  max-width: 4.0625rem;
}

.options__image_brands {
  max-width: 12.125rem;
}

.options__image img {
  width: 100%;
  height: auto;
}

body::after {
  content: "";
  background-color: rgba(21, 29, 39, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1.875rem 1.25rem;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.popup__wrapper_top {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #151d28;
  padding: 1.25rem;
  width: 100%;
  max-width: 75rem;
  border-radius: 2.625rem;
  border: 0.0625rem solid #8bffdc;
  padding: 3.4375rem 4.375rem 2.5rem;
}

.lock .popup__content {
  visibility: visible;
}

.popup__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.popup__top:not(:last-child) {
  margin-bottom: 2.4375rem;
}

.popup__top_callback {
  padding-bottom: 1.25rem;
  border-bottom: 0.0625rem solid rgba(139, 255, 220, 0.18);
}

.popup__top_callback:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.popup__label {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.21;
}

.popup__close {
  font-size: 0;
}

.popup__close svg rect {
  fill: #8bffdc;
  -webkit-transition: fill-opacity 0.3s ease 0s;
  transition: fill-opacity 0.3s ease 0s;
  fill-opacity: 0.5;
}

.popup-address {
  border-radius: 0.6875rem;
  border: 0.0625rem solid rgba(139, 255, 220, 0.5);
  padding: 0.9375rem;
}

.popup-address__descr {
  font-size: 1rem;
  font-weight: 700;
}

.popup-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup-phone__descr {
  font-size: 1rem;
  font-weight: 700;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.6875rem;
  border: 0.0625rem solid rgba(139, 255, 220, 0.5);
  padding: 0.9375rem;
}

.popup-phone__btn {
  font-weight: 700;
  font-size: 1rem;
  padding: 0.9375rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.625rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
}

.popup-callback__title {
  font-weight: 700;
  font-size: 1.625rem;
  text-align: center;
  line-height: 1.21;
}

.popup-callback__title:not(:last-child) {
  margin-bottom: 2.3125rem;
}

.callback-form {
  max-width: 22.875rem;
  margin: 0 auto;
}

.callback-form__lines:not(:last-child) {
  margin-bottom: 1.25rem;
}

.callback-form__line {
  position: relative;
}

.callback-form__line::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 2rem;
  background: url("../img/icons/user-inp.svg") 50%/100% no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.callback-form__line_phone::before {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../img/icons/phone-inp.svg");
}

.callback-form__line:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.callback-form__btn {
  width: 100%;
  padding: 1.375rem 0.625rem;
}

.top-popup-choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-popup-choose:not(:last-child) {
  margin-bottom: 1.3125rem;
}

.top-popup-choose__cap {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.21;
  display: none;
}

.top-popup-choose__cap.current {
  display: block;
}

.top-popup-choose__nums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-popup-choose__num {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.21;
  padding: 0.4375rem;
  min-height: 2.5rem;
  min-width: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 0.375rem;
  -webkit-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.top-popup-choose__num:not(:last-child) {
  margin-right: 0.625rem;
}

.no-webp .top-popup-choose__num:last-child {
  background: url("../img/icons/gift.png") 50%/50% no-repeat; }

.top-popup-choose__num.current {
  color: #151d28;
  background-color: #8bffdc;
}

.no-webp .top-popup-choose__num.current:last-child {
  background: #8bffdc url("../img/icons/gift.png") 50%/50% no-repeat; }

.form-popup-choose__options:not(:last-child) {
  margin-bottom: 1.25rem;
}

.form-popup-choose__column {
  display: none;
}

.form-popup-choose__column.current {
  display: block;
}

.form-popup-choose__label {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.21;
  max-width: 37.8125rem;
  margin: 0 auto;
  text-align: center;
}

.form-popup-choose__label:not(:last-child) {
  margin-bottom: 2.3125rem;
}

.form-popup-choose__bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
}

.form-popup-choose__bottom_3 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form-popup-choose__bottom_2 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.form-popup-choose__bottom_5 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.form-popup-choose__bottom_4 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.form-popup-choose__btn {
  padding: 1.25rem 3.125rem;
}

.form-popup-choose__btn_prev {
  font-weight: 700;
  font-size: 1.125rem;
  color: #8bffdc;
  border-radius: 0.75rem;
  border: 0.0625rem solid;
}

.swiper {
  overflow: hidden;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.title {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.21;
  text-align: center;
}

.title span {
  color: #8bffdc;
}

.price {
  white-space: nowrap;
}

.price::before {
  content: "$ ";
}

.swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-webp .swiper-pagination-bullet {
  background: url("../img/lots/icons/dot-active.png") 50%/100% no-repeat; }

.swiper-pagination-bullet {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.375rem;
          flex: 0 0 1.375rem;
  cursor: pointer;
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  opacity: 0.2;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-right: 1.0625rem;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.header {
  padding: 1.75rem 0rem;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.0625rem;
          flex: 0 0 12.0625rem;
  width: 12.0625rem;
  margin-right: auto;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__callback {
  font-weight: 700;
  font-size: 1rem;
  padding: 0.9375rem 1.8125rem;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0.625rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.loc-header:not(:last-child) {
  margin-right: 1.875rem;
}

.loc-header__address {
  font-weight: 700;
  font-size: 1rem;
}

.loc-header__btn {
  width: 3.125rem;
  height: 3.125rem;
  background: rgba(255, 255, 255, 0.05) url("../img/icons/loc.svg") 50% no-repeat;
  border-radius: 0.4375rem;
  border: 0.0625rem solid rgba(254, 254, 254, 0.2);
}

.phone-header__phone {
  font-weight: 700;
  font-size: 1rem;
  color: #8bffdc;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.phone-header__btn {
  width: 3.125rem;
  height: 3.125rem;
  background: #8bffdc url("../img/icons/phone.svg") 50% no-repeat;
  border-radius: 0.4375rem;
}

.footer {
  padding-bottom: 3.6875rem;
}

.footer__body {
  border: 0.0625rem solid #8bffdc;
  border-radius: 1.0625rem;
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  background: rgba(255, 255, 255, 0.05);
  max-width: 39.375rem;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem 0.9375rem;
  min-height: 9rem;
  position: relative;
}

.no-webp .footer__body::after {
  background: url("../img/footer/uk.png") 50%/100% no-repeat; }

.footer__body::after {
  content: "";
  position: absolute;
  width: 10.9375rem;
  height: 6.125rem;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__label {
  font-weight: 700;
  font-size: 1.5625rem;
  line-height: 1.21;
}

.footer__label:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.footer__label span {
  color: #8bffdc;
}

.footer__descr {
  font-weight: 500;
  line-height: 1.3;
}

.footer__bottom {
  text-align: center;
  padding-top: 3.75rem;
}

.footer__copy {
  line-height: 1.21;
  color: rgba(255, 255, 255, 0.6);
}

.hero {
  padding: 3.75rem 0rem;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 31.3125rem;
  height: 43.8125rem;
  background: #395573;
  bottom: -6.25rem;
  z-index: -1;
  pointer-events: none;
  -webkit-filter: blur(200px);
          filter: blur(200px);
  right: -16.875rem;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hero__decor {
  position: absolute;
  top: 12%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 135rem;
  pointer-events: none;
  z-index: -1;
  background: url("../img/hero/line-1.svg") 50%/100% no-repeat;
}

.hero__decor_1 {
  width: 135rem;
  height: 40.3125rem;
}

.hero__decor_2 {
  background-image: url("../img/hero/line-2.svg");
  height: 61.625rem;
  top: 8%;
}

.hero__title {
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 1.21;
  text-align: center;
  background: radial-gradient(93.85% 93.85% at 50.04% 77.87%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero__title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.hero__subtitle {
  font-weight: 700;
  font-size: 1.625rem;
  text-align: center;
  line-height: 1.21;
  max-width: 39.375rem;
  margin: 0 auto;
  color: #8bffdc;
}

.hero__subtitle:not(:last-child) {
  margin-bottom: 1.875rem;
}

.hero__btn-wrapper {
  text-align: center;
}

.hero__btn {
  position: relative;
  z-index: 2;
}

.hero__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64.3125rem;
          flex: 0 0 64.3125rem;
  width: 64.3125rem;
  margin-left: -12.5rem;
}

.hero__image img {
  width: 100%;
  height: auto;
}

.descr-hero {
  border: 0.0625rem solid rgba(255, 255, 255, 0.06);
  border-radius: 1.0625rem;
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  background: rgba(255, 255, 255, 0.05);
  max-width: 28.5625rem;
  text-align: center;
  padding: 1.3125rem 0.3125rem;
  position: relative;
}

.descr-hero::after {
  content: "";
  position: absolute;
  background: url("../img/hero/descr.svg") 50%/100% no-repeat;
  width: 23.125rem;
  height: 6.75rem;
  left: 2rem;
  bottom: calc(100% + 1.9375rem);
}

.descr-hero__label {
  font-weight: 700;
  font-size: 1.625rem;
  line-height: 1.21;
  color: #8bffdc;
}

.descr-hero__label:not(:last-child) {
  margin-bottom: 0.5rem;
}

.descr-hero__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.6);
}

.descr-hero__text span {
  color: #fff;
}

.socials-hero {
  text-align: center;
}

.socials-hero__label {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.21;
  color: #fff;
}

.socials-hero__label:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.socials-hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials-hero__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 3.125rem;
          flex: 0 0 3.125rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.5rem;
  overflow: hidden;
  -webkit-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.socials-hero__item:not(:last-child) {
  margin-right: 1.875rem;
}

.socials-hero__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials-hero__link img {
  width: 100%;
  height: auto;
}

.reviews {
  padding: 3.125rem 0rem 2.5rem;
}

.reviews__title:not(:last-child) {
  margin-bottom: 2.625rem;
}

.reviews__slider:not(:last-child) {
  margin-bottom: 2.5rem;
}

.slide-reviews {
  border: 0.0625rem solid #8bffdc;
  border-radius: 1.0625rem;
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
}

.slide-reviews__image {
  position: relative;
  padding-bottom: 63.2850241546%;
  border-bottom: 0.0625rem solid #8bffdc;
}

.slide-reviews__image:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.slide-reviews__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-reviews__content {
  padding: 0rem 0.9375rem 0.9375rem 1.25rem;
}

.slide-reviews__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-reviews__list:not(:last-child) {
  margin-bottom: 1.4375rem;
}

.slide-reviews__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  padding-top: 0.9375rem;
  border-top: 0.0625rem solid #8bffdc;
  font-style: italic;
}

.slide-reviews__item {
  font-weight: 700;
  line-height: 1.21;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-reviews__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.no-webp .slide-reviews__item::before {
  background: url("../img/lots/icons/01.png") 50%/100% no-repeat; }

.slide-reviews__item::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.375rem;
          flex: 0 0 1.375rem;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 1.375rem;
}

.slide-reviews__item_1::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.no-webp .slide-reviews__item_2::before {
  background-image: url("../img/lots/icons/02.png"); }

.slide-reviews__item_2::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.no-webp .slide-reviews__item_3::before {
  background-image: url("../img/lots/icons/03.png"); }

.no-webp .slide-reviews__item_4::before {
  background-image: url("../img/lots/icons/04.png"); }

.no-webp .slide-reviews__item_5::before {
  background-image: url("../img/lots/icons/05.png"); }

.no-webp .slide-reviews__item_6::before {
  background-image: url("../img/lots/icons/06.png"); }

.slide-reviews__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-reviews__price {
  font-weight: 700;
  font-size: 1.25rem;
  color: #8bffdc;
}

.slide-reviews__btn {
  font-weight: 700;
  font-size: 1rem;
  color: #8bffdc;
  padding: 0.875rem 0.9375rem;
  border: 0.125rem solid #8bffdc;
  border-radius: 0.625rem;
  -webkit-backdrop-filter: blur(6.25rem);
          backdrop-filter: blur(6.25rem);
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.lots {
  padding: 3.125rem 0rem;
}

.lots__title:not(:last-child) {
  margin-bottom: 2.625rem;
}

.lots__slider:not(:last-child) {
  margin-bottom: 2.5rem;
}

.lots__btns {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lots__btn {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.875rem;
          flex: 0 0 2.875rem;
  width: 2.875rem;
  height: 2.875rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #8bffdc;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.1) url("../img/icons/slider-arrow.svg") 50% no-repeat;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.lots__btn_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-lots {
  border: 0.0625rem solid #8bffdc;
  border-radius: 1.0625rem;
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
}

.slide-lots__image {
  position: relative;
  padding-bottom: 67.9452054795%;
}

.slide-lots__image:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.slide-lots__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-lots__content {
  padding: 0rem 0.9375rem 0.9375rem 1.25rem;
}

.slide-lots__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slide-lots__list:not(:last-child) {
  margin-bottom: 1.625rem;
}

.slide-lots__item {
  font-weight: 700;
  line-height: 1.21;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-lots__item:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.no-webp .slide-lots__item::before {
  background: url("../img/lots/icons/01.png") 50%/100% no-repeat; }

.slide-lots__item::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.375rem;
          flex: 0 0 1.375rem;
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 1.375rem;
}

.slide-lots__item_1::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.no-webp .slide-lots__item_2::before {
  background-image: url("../img/lots/icons/02.png"); }

.slide-lots__item_2::before {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5rem;
          flex: 0 0 1.5rem;
  width: 1.5rem;
  height: 1.5rem;
}

.no-webp .slide-lots__item_3::before {
  background-image: url("../img/lots/icons/03.png"); }

.no-webp .slide-lots__item_4::before {
  background-image: url("../img/lots/icons/04.png"); }

.no-webp .slide-lots__item_5::before {
  background-image: url("../img/lots/icons/05.png"); }

.no-webp .slide-lots__item_6::before {
  background-image: url("../img/lots/icons/06.png"); }

.slide-lots__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-lots__price {
  font-weight: 700;
  font-size: 1.25rem;
  color: #8bffdc;
}

.slide-lots__btn {
  font-weight: 700;
  font-size: 1rem;
  color: #8bffdc;
  padding: 0.875rem 0.9375rem;
  border: 0.125rem solid #8bffdc;
  border-radius: 0.625rem;
  -webkit-backdrop-filter: blur(6.25rem);
          backdrop-filter: blur(6.25rem);
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.process {
  padding: 3.125rem 0rem 6.25rem;
}

.process__title:not(:last-child) {
  margin-bottom: 2.5rem;
}

.process__columns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
}

.process__columns:not(:last-child) {
  margin-bottom: 2.5rem;
}

.process__bottom {
  text-align: center;
}

.column-process {
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  border-radius: 1.0625rem;
  -webkit-backdrop-filter: blur(1.25rem);
          backdrop-filter: blur(1.25rem);
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 14.5625rem;
  padding: 0.625rem 1.25rem;
}

.column-process__icon_1 {
  max-width: 6.375rem;
}

.column-process__icon_2 {
  max-width: 5.1875rem;
}

.column-process__icon_3 {
  max-width: 3.9375rem;
}

.column-process__icon_4 {
  max-width: 3.75rem;
}

.column-process__icon_5 {
  max-width: 11.4375rem;
}

.column-process__icon_6 {
  max-width: 3.6875rem;
}

.column-process__icon img {
  width: 100%;
  height: auto;
}

.column-process__icon:not(:last-child) {
  margin-bottom: 0.625rem;
}

.column-process__label {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.21;
  max-width: 18.9375rem;
}

.column-process__label:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.column-process__descr {
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.21;
}

.team {
  padding: 2.5rem 0rem 6.75rem;
  position: relative;
}

.team::after {
  content: "";
  position: absolute;
  width: 31.3125rem;
  top: 0;
  left: -8.75rem;
  z-index: -1;
  pointer-events: none;
  height: 43.8125rem;
  border-radius: 100%;
  background: #395573;
  -webkit-filter: blur(200px);
          filter: blur(200px);
}

.team__title:not(:last-child) {
  margin-bottom: 3.9375rem;
}

.team__image img {
  width: 100%;
  height: auto;
}

.team-form {
  border: 0.0625rem solid rgba(255, 255, 255, 0.1);
  border-radius: 1.0625rem;
  -webkit-backdrop-filter: blur(3.125rem);
          backdrop-filter: blur(3.125rem);
  background: rgba(255, 255, 255, 0.05);
  text-align: center;
  padding: 4rem;
  position: relative;
  z-index: 2;
}

.team-form__label {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.21;
}

.team-form__label:not(:last-child) {
  margin-bottom: 2.5rem;
}

.team-form__lines:not(:last-child) {
  margin-bottom: 2.5rem;
}

.team-form__line {
  position: relative;
}

.team-form__line::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: 2rem;
  background: url("../img/icons/user-inp.svg") 50%/100% no-repeat;
  width: 1.5rem;
  height: 1.5rem;
}

.team-form__line_phone::before {
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../img/icons/phone-inp-team.svg");
}

.team-form__line:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.team-form__btn {
  width: 100%;
  padding: 1.375rem 0.625rem;
}

@media (min-width: 26.87375em) {
  .popup-address__descr {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .popup-address__descr::before {
    content: "";
    background: url("../img/icons/loc-auqa.svg") 50%/100% no-repeat;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.5rem;
            flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }

  .popup-phone__descr::before {
    content: "";
    background: url("../img/icons/phone-auqa.svg") 50%/100% no-repeat;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 1.5rem;
            flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
  }
}

@media (min-width: 47.99875em) {
  .popup-phone__btn {
    display: none;
  }

  .phone-header:not(:last-child) {
    margin-right: 1.875rem;
  }
}

@media (min-width: 61.99875em) {
  .lots__body {
    position: relative;
    padding: 0rem 4.375rem;
  }

  .team__body {
    position: relative;
  }

  .team__image {
    position: absolute;
    top: 0;
    right: -3.9375rem;
    width: 59.3125rem;
    height: 32rem;
  }

  .team-form {
    max-width: 31.6875rem;
  }
}

@media (min-width: 82.49875em) {
  .loc-header__btn {
    display: none;
  }

  .phone-header__btn {
    display: none;
  }

  .hero__row {
    margin-top: -5.625rem;
  }
}

@media (max-width: 82.49875em) {
  .options_4 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .options_5 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .options__label_5 {
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }

  .form-popup-choose__bottom_5 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .loc-header__address {
    display: none;
  }

  .phone-header__phone {
    display: none;
  }

  .hero__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38.5625rem;
            flex: 0 0 38.5625rem;
    width: 38.5625rem;
    margin-left: -7.5rem;
    margin-bottom: 2.1875rem;
  }

  .team__image {
    right: -1.25rem;
  }
}

@media (max-width: 61.99875em) {
  .options_3 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem;
  }

  .options_4 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 0.625rem;
  }

  .options_5 {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.625rem;
  }

  .options__label {
    padding: 0.9375rem;
    border-radius: 0.9375rem;
  }

  .options__label_text {
    padding: 0.9375rem;
  }

  .options__label_3 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }

  .options__label_2 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-grid-column-span: 1;
    grid-column: 1 span;
  }

  .options__label_5 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }

  .options__label_4 {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    -ms-grid-column-span: 2;
    grid-column: 2 span;
  }

  .options__text {
    font-size: 1rem;
  }

  .popup__content {
    border-radius: 2rem;
    padding: 3.125rem 3.125rem 1.875rem;
  }

  .popup__label {
    font-size: 1.3125rem;
  }

  .popup-callback__title {
    font-size: 1.3125rem;
  }

  .popup-callback__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .top-popup-choose__cap {
    font-size: 1.3125rem;
  }

  .top-popup-choose__num {
    font-size: 1rem;
    min-height: 2rem;
    min-width: 2rem;
  }

  .form-popup-choose__options:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .form-popup-choose__label {
    font-size: 1.3125rem;
  }

  .form-popup-choose__label:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .form-popup-choose__bottom {
    gap: 0.625rem;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .form-popup-choose__bottom_3 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .form-popup-choose__bottom_2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-popup-choose__bottom_5 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .form-popup-choose__bottom_4 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .title {
    font-size: 1.875rem;
  }

  .header {
    padding: 1.4375rem 0rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10.875rem;
            flex: 0 0 10.875rem;
    width: 10.875rem;
  }

  .footer__label {
    font-size: 1.375rem;
  }

  .footer__bottom {
    padding-top: 3.0625rem;
  }

  .hero {
    padding: 2.5rem 0rem;
  }

  .hero__decor {
    top: 5%;
  }

  .hero__decor_1 {
    width: 67.5rem;
    height: 20.125rem;
  }

  .hero__decor_2 {
    height: 61rem;
  }

  .hero__title {
    font-size: 2.25rem;
  }

  .hero__subtitle {
    font-size: 1.5rem;
  }

  .hero__btn-wrapper {
    margin-bottom: 2.6875rem;
  }

  .hero__image {
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    width: auto;
    margin-left: -5.625rem;
  }

  .descr-hero {
    margin: 0 auto;
  }

  .descr-hero::after {
    width: 15.4375rem;
    height: 4.5rem;
    left: 2.25rem;
    bottom: auto;
    top: -2.0625rem;
  }

  .descr-hero__label {
    font-size: 1.5rem;
  }

  .socials-hero__label:not(:last-child) {
    margin-bottom: 1rem;
  }

  .lots__btns {
    display: none;
  }

  .slide-lots__list:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .process__columns {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .column-process {
    min-height: 13.125rem;
  }

  .column-process__label {
    font-size: 1.125rem;
  }

  .team {
    padding: 2.5rem 0rem 2.75rem;
  }

  .team__title:not(:last-child) {
    margin-bottom: 3.25rem;
  }

  .team__image {
    position: static;
    margin-left: -4.375rem;
  }

  .team-form {
    padding: 2.5rem 1.25rem;
    margin-bottom: 0.625rem;
  }

  .team-form__label {
    font-size: 1.125rem;
  }

  .team-form__label:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .team-form__lines:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .options_2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .options_text {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .options_5 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .options__label {
    min-height: 6.9375rem;
    padding: 0.625rem;
    border-radius: 0.6875rem;
  }

  .options__label_text {
    padding: 0.625rem;
    min-height: auto;
  }

  .options__label_bottom {
    min-height: auto;
  }

  .options__text {
    font-size: 0.75rem;
  }

  .popup__content {
    border-radius: 1.5rem;
    padding: 2.1875rem 1.875rem 1.25rem;
  }

  .popup__top_callback:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .popup__label {
    font-size: 1.0625rem;
  }

  .popup-phone__descr:not(:last-child) {
    margin-bottom: 1.0625rem;
  }

  .popup-callback__title {
    font-size: 1.0625rem;
  }

  .popup-callback__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .top-popup-choose {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top-popup-choose:not(:last-child) {
    margin-bottom: 1.0625rem;
  }

  .top-popup-choose__cap {
    font-size: 1.0625rem;
    margin-bottom: 0.875rem;
  }

  .top-popup-choose__num {
    font-size: 0.875rem;
    min-height: 1.75rem;
    min-width: 1.75rem;
  }

  .form-popup-choose__label {
    font-size: 1.0625rem;
  }

  .form-popup-choose__btn {
    padding: 0.9375rem 1.875rem;
  }

  .title {
    font-size: 1.625rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.25rem;
            flex: 0 0 9.25rem;
    width: 9.25rem;
  }

  .header__callback {
    display: none;
  }

  .footer {
    padding-bottom: 3rem;
  }

  .footer__label {
    font-size: 1.125rem;
  }

  .footer__descr {
    font-size: 0.75rem;
  }

  .hero {
    padding: 0.9375rem 0rem 1.5625rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  .hero__subtitle {
    font-size: 1.25rem;
  }

  .descr-hero {
    padding: 1.1875rem 0.3125rem;
  }

  .descr-hero__label {
    font-size: 1.375rem;
  }

  .descr-hero__text {
    font-size: 0.875rem;
  }

  .reviews {
    padding: 3.125rem 0rem 1.25rem;
  }

  .reviews__title:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .reviews__slider {
    margin: 0rem -1.25rem 0 0;
  }

  .slide-reviews {
    position: relative;
  }

  .slide-reviews::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(0.3125rem);
            backdrop-filter: blur(0.3125rem);
    background: rgba(0, 0, 0, 0.05);
    pointer-events: none;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .slide-reviews.swiper-slide-active::after {
    opacity: 0;
    visibility: hidden;
  }

  .slide-reviews__image:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .slide-reviews__content {
    padding: 0rem 1.375rem 1.375rem 1.25rem;
  }

  .slide-reviews__btn {
    font-size: 0.875rem;
  }

  .lots {
    padding: 3.125rem 0rem 2.5rem;
  }

  .lots__title:not(:last-child) {
    margin-bottom: 2.5625rem;
  }

  .lots__slider {
    margin: 0rem -1.25rem 0 0;
  }

  .slide-lots {
    position: relative;
  }

  .slide-lots::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(0.3125rem);
            backdrop-filter: blur(0.3125rem);
    background: rgba(0, 0, 0, 0.05);
    pointer-events: none;
    -webkit-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
  }

  .slide-lots.swiper-slide-active::after {
    opacity: 0;
    visibility: hidden;
  }

  .slide-lots__image:not(:last-child) {
    margin-bottom: 1.375rem;
  }

  .slide-lots__content {
    padding: 0rem 1.375rem 1.375rem 1.25rem;
  }

  .slide-lots__list:not(:last-child) {
    margin-bottom: 1.125rem;
  }

  .slide-lots__btn {
    font-size: 0.875rem;
  }

  .process {
    padding: 3.125rem 0rem 3.125rem;
  }

  .process__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .process__columns {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 0.625rem;
  }

  .process__columns:not(:last-child) {
    margin-bottom: 1.5625rem;
  }

  .column-process {
    min-height: 11.3125rem;
  }

  .column-process__icon_1 {
    max-width: 4.875rem;
  }

  .column-process__icon_2 {
    max-width: 3.9375rem;
  }

  .column-process__icon_3 {
    max-width: 3rem;
  }

  .column-process__icon_4 {
    max-width: 2.875rem;
  }

  .column-process__icon_5 {
    max-width: 8.6875rem;
  }

  .column-process__icon_6 {
    max-width: 2.8125rem;
  }

  .column-process__label {
    font-size: 1rem;
  }

  .column-process__descr {
    font-size: 0.75rem;
  }

  .team {
    padding: 1.25rem 0rem 2.75rem;
  }

  .team-form {
    padding: 2.0625rem 0.75rem 1.5rem;
  }
}

@media (max-width: 29.99875em) {
  .popup__content {
    border-radius: 1.1875rem;
    padding: 1.8125rem 0.9375rem 1.25rem;
  }

  .popup__label {
    font-size: 0.875rem;
  }

  .popup-callback__title {
    font-size: 0.875rem;
  }

  .top-popup-choose__cap {
    font-size: 0.875rem;
  }

  .form-popup-choose__label {
    font-size: 0.875rem;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.0625rem;
            flex: 0 0 8.0625rem;
    width: 8.0625rem;
  }

  .hero__title {
    font-size: 1.625rem;
  }

  .hero__subtitle {
    font-size: 1rem;
  }

  .hero__btn {
    width: 100%;
  }

  .hero__image {
    width: 125%;
  }

  .descr-hero__label {
    font-size: 1.25rem;
  }

  .team__image {
    width: 125%;
  }
}

@media (max-width: 26.87375em) {
  .options_3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .options_4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .options_5 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .options__label_3 {
    -ms-grid-column-span: 1;
    grid-column: 1 span;
  }

  .options__label_5 {
    -ms-grid-column-span: 1;
    grid-column: 1 span;
  }

  .options__label_4 {
    -ms-grid-column-span: 1;
    grid-column: 1 span;
  }

  .popup-callback__title {
    font-size: 0.8125rem;
  }

  .form-popup-choose__bottom {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-popup-choose__bottom_3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-popup-choose__bottom_5 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .form-popup-choose__bottom_4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .footer__body {
    min-height: 10.625rem;
  }

  .descr-hero::after {
    left: 0rem;
  }

  .reviews__slider {
    margin: 0;
  }

  .lots__slider {
    margin: 0;
  }

  .slide-lots__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide-lots__price {
    margin-bottom: 0.9375rem;
  }
}

@media (any-hover: hover) {
  .btn:hover {
    background-color: rgba(139, 255, 220, 0.8);
  }

  .options__label:hover {
    border-color: #8bffdc;
  }

  .popup__close:hover svg rect {
    fill-opacity: 1;
  }

  .swiper-pagination-bullet:hover {
    opacity: 1;
  }

  .header__callback:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .phone-header__phone:hover {
    color: #fff;
  }

  .socials-hero__item:hover {
    opacity: 0.8;
  }

  .slide-reviews__btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .lots__btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  .slide-lots__btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.webp .top-popup-choose__num:last-child { background: url(../img/icons/gift.webp) 50%/50% no-repeat; }

.webp .top-popup-choose__num.current:last-child { background: #8bffdc url(../img/icons/gift.webp) 50%/50% no-repeat; }

.webp .swiper-pagination-bullet { background: url(../img/lots/icons/dot-active.webp) 50%/100% no-repeat; }

.webp .footer__body::after { background: url(../img/footer/uk.webp) 50%/100% no-repeat; }

.webp .slide-reviews__item::before { background: url(../img/lots/icons/01.webp) 50%/100% no-repeat; }

.webp .slide-reviews__item_2::before { background-image: url(../img/lots/icons/02.webp); }

.webp .slide-reviews__item_3::before { background-image: url(../img/lots/icons/03.webp); }

.webp .slide-reviews__item_4::before { background-image: url(../img/lots/icons/04.webp); }

.webp .slide-reviews__item_5::before { background-image: url(../img/lots/icons/05.webp); }

.webp .slide-reviews__item_6::before { background-image: url(../img/lots/icons/06.webp); }

.webp .slide-lots__item::before { background: url(../img/lots/icons/01.webp) 50%/100% no-repeat; }

.webp .slide-lots__item_2::before { background-image: url(../img/lots/icons/02.webp); }

.webp .slide-lots__item_3::before { background-image: url(../img/lots/icons/03.webp); }

.webp .slide-lots__item_4::before { background-image: url(../img/lots/icons/04.webp); }

.webp .slide-lots__item_5::before { background-image: url(../img/lots/icons/05.webp); }

.webp .slide-lots__item_6::before { background-image: url(../img/lots/icons/06.webp); }